:root {
    --single-line-chat-icon: none;
    --single-line-chat-name: none;
    --single-line-chat-badge: none;
    --single-line-chat-color: var(--yt-spec-text-secondary);
    --single-line-chat-color-sponsor: var(--yt-live-chat-sponsor-color);
    --single-line-chat-color-moderator: var(--yt-live-chat-moderator-color);
    --single-line-chat-color-owner: var(--yt-live-chat-author-chip-owner-text-color);
    --single-line-chat-bgcolor: var(--yt-spec-badge-chip-background);
    --single-line-chat-bgcolor-owner: var(--yt-live-chat-owner-color);
}

div#items>yt-live-chat-text-message-renderer:not(:hover) div#content {
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap !important;
}

div#items>yt-live-chat-text-message-renderer:not(:has(yt-live-chat-author-badge-renderer[type="moderator"])):not(:hover) yt-img-shadow#author-photo {
    display: var(--single-line-chat-icon) !important;
}

div#items>yt-live-chat-text-message-renderer:not(:has(yt-live-chat-author-badge-renderer[type="moderator"])):not(:hover) span#author-name {
    display: var(--single-line-chat-name) !important;
}

div#items>yt-live-chat-text-message-renderer:not(:has(yt-live-chat-author-badge-renderer[type="moderator"])):not(:hover) span#chat-badges {
    display: var(--single-line-chat-badge) !important;
}

div#items>yt-live-chat-text-message-renderer span#message {
    color: var(--single-line-chat-color) !important;
}

div#items>yt-live-chat-text-message-renderer:has(yt-live-chat-author-badge-renderer) span#message {
    color: var(--single-line-chat-color-sponsor) !important;
}

div#items>yt-live-chat-text-message-renderer:has(yt-live-chat-author-badge-renderer) {
    background-color: var(--single-line-chat-bgcolor) !important;
}

div#items>yt-live-chat-text-message-renderer:has(yt-live-chat-author-badge-renderer[type="moderator"]) span#message {
    color: var(--single-line-chat-color-moderator) !important;
}

div#items>yt-live-chat-text-message-renderer:has(yt-live-chat-author-badge-renderer[type="moderator"]) {
    background-color: var(--single-line-chat-bgcolor) !important;
}

div#items>yt-live-chat-text-message-renderer[author-type="owner"] span#message {
    color: var(--single-line-chat-color-owner) !important;
}

div#items>yt-live-chat-text-message-renderer[author-type="owner"] {
    color: var(--single-line-chat-color-owner) !important;
    background-color: var(--single-line-chat-bgcolor-owner) !important;
}

div#items>yt-live-chat-text-message-renderer[author-type="owner"] div#menu {
    color: #0f0f0f !important;
}