:root {
    --single-line-chat-icon: none;
    --single-line-chat-name: none;
    --single-line-chat-badge: none;
    --single-line-chat-color: var(--yt-spec-text-secondary);
    --single-line-chat-color-sponsor: var(--yt-live-chat-sponsor-color);
    --single-line-chat-color-moderator: var(--yt-live-chat-moderator-color);
    --single-line-chat-bgcolor: var(--yt-spec-badge-chip-background);
}

yt-live-chat-text-message-renderer:not(:hover)>div#content {
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap !important;
}

yt-live-chat-text-message-renderer.yt-live-chat-item-list-renderer:not(:has(yt-live-chat-author-badge-renderer[type="moderator"])):not(:hover) yt-img-shadow#author-photo {
    display: var(--single-line-chat-icon) !important;
}

yt-live-chat-text-message-renderer.yt-live-chat-item-list-renderer:not(:has(yt-live-chat-author-badge-renderer[type="moderator"])):not(:hover) span#author-name {
    display: var(--single-line-chat-name) !important;
}

yt-live-chat-text-message-renderer.yt-live-chat-item-list-renderer:not(:has(yt-live-chat-author-badge-renderer[type="moderator"])):not(:hover) span#chat-badges {
    display: var(--single-line-chat-badge) !important;
}

yt-live-chat-text-message-renderer.yt-live-chat-item-list-renderer span#message {
    color: var(--single-line-chat-color) !important;
}

yt-live-chat-text-message-renderer.yt-live-chat-item-list-renderer:has(yt-live-chat-author-badge-renderer) span#message {
    color: var(--single-line-chat-color-sponsor) !important;
}

yt-live-chat-text-message-renderer.yt-live-chat-item-list-renderer:has(yt-live-chat-author-badge-renderer) {
    background-color: var(--single-line-chat-bgcolor) !important;
}

yt-live-chat-text-message-renderer.yt-live-chat-item-list-renderer:has(yt-live-chat-author-badge-renderer[type="moderator"]) span#message {
    color: var(--single-line-chat-color-moderator) !important;
}

yt-live-chat-text-message-renderer.yt-live-chat-item-list-renderer:has(yt-live-chat-author-badge-renderer[type="moderator"]) {
    background-color: var(--single-line-chat-bgcolor) !important;
}