:root {
    --single-line-chat-text-overflow: none;
    --single-line-chat-overflow: none;
    --single-line-chat-white-space: none;
    --single-line-chat-display-block: none;
    --single-line-chat-display-inline: none;
    --single-line-chat-align-items: none;
    --single-line-chat-height: none;
    --single-line-chat-object-fit: none;
    --single-line-chat-padding-top: none;
    --single-line-chat-padding-bottom: none;

    --single-line-chat-icon: none;
    --single-line-chat-name: none;
    --single-line-chat-badge: none;
    --single-line-chat-xp: none;

    --single-line-chat-color: none;
    --single-line-chat-bgcolor: none;

    --single-line-chat-color-sponsor: none;
    --single-line-chat-bgcolor-sponsor: none;

    --single-line-chat-color-moderator: none;
    --single-line-chat-bgcolor-moderator: none;

    --single-line-chat-color-owner: none;
    --single-line-chat-bgcolor-owner: none;
}

div#items.yt-live-chat-item-list-renderer>yt-live-chat-text-message-renderer:not(:hover) div#content {
    text-overflow: var(--single-line-chat-text-overflow) !important;
    overflow: var(--single-line-chat-overflow) !important;
    white-space: var(--single-line-chat-white-space) !important;
}

div#items.yt-live-chat-item-list-renderer>yt-live-chat-text-message-renderer yt-img-shadow#author-photo {
    display: var(--single-line-chat-icon) !important;
}

div#items.yt-live-chat-item-list-renderer>yt-live-chat-text-message-renderer span#author-name {
    display: var(--single-line-chat-name) !important;
}

div#items.yt-live-chat-item-list-renderer>yt-live-chat-text-message-renderer span#chat-badges {
    display: var(--single-line-chat-badge) !important;
}

div#items.yt-live-chat-item-list-renderer>yt-live-chat-text-message-renderer yt-button-view-model:has(button.yt-spec-button-shape-next--enable-backdrop-filter-experiment) {
    display: var(--single-line-chat-xp) !important;
}

/* General */
div#items.yt-live-chat-item-list-renderer>yt-live-chat-text-message-renderer[author-type=""] span#message {
    color: var(--single-line-chat-color) !important;
}

div#items.yt-live-chat-item-list-renderer>yt-live-chat-text-message-renderer[author-type=""] {
    background-color: var(--single-line-chat-bgcolor) !important;
}

/* Member */
div#items.yt-live-chat-item-list-renderer>yt-live-chat-text-message-renderer[author-type="member"] span#message {
    color: var(--single-line-chat-color-sponsor) !important;
}

div#items.yt-live-chat-item-list-renderer>yt-live-chat-text-message-renderer[author-type="member"] {
    background-color: var(--single-line-chat-bgcolor-sponsor) !important;
}

/* Moderator */
div#items.yt-live-chat-item-list-renderer>yt-live-chat-text-message-renderer[author-type="moderator"] span#message {
    color: var(--single-line-chat-color-moderator) !important;
}

div#items.yt-live-chat-item-list-renderer>yt-live-chat-text-message-renderer[author-type="moderator"] {
    background-color: var(--single-line-chat-bgcolor-moderator) !important;
}

/* Owner */
div#items.yt-live-chat-item-list-renderer>yt-live-chat-text-message-renderer[author-type="owner"] span#message {
    color: var(--single-line-chat-color-owner) !important;
}

div#items.yt-live-chat-item-list-renderer>yt-live-chat-text-message-renderer[author-type="owner"] {
    background-color: var(--single-line-chat-bgcolor-owner) !important;
}

/* Membership Gift Redemption */
div#items.yt-live-chat-item-list-renderer>ytd-sponsorships-live-chat-gift-redemption-announcement-renderer:not(:hover) div#content span#author-name,
div#items.yt-live-chat-item-list-renderer>ytd-sponsorships-live-chat-gift-redemption-announcement-renderer:not(:hover) div#content yt-formatted-string#message {
    display: var(--single-line-chat-display-inline) !important;
}

/* Super Chat */
div#items.yt-live-chat-item-list-renderer>yt-live-chat-paid-message-renderer:not(:hover) div#content {
    display: var(--single-line-chat-display-block) !important;
}

/* Milestone Chat */
div#items.yt-live-chat-item-list-renderer>yt-live-chat-membership-item-renderer:not(:hover) div#header-subtext,
div#items.yt-live-chat-item-list-renderer>yt-live-chat-membership-item-renderer:not(:hover) div#header-primary-text,
div#items.yt-live-chat-item-list-renderer>yt-live-chat-membership-item-renderer:not(:hover) div#content:not(:has(div#message:empty)) {
    display: var(--single-line-chat-display-block) !important;
}

/* Membership Join */
div#items.yt-live-chat-item-list-renderer>ytd-sponsorships-live-chat-header-renderer:not(:hover) div#content {
    display: var(--single-line-chat-display-block) !important;
}

/* Membership Gift */
div#items.yt-live-chat-item-list-renderer>ytd-sponsorships-live-chat-gift-purchase-announcement-renderer:not(:hover) div#content {
    align-items: var(--single-line-chat-align-items) !important;
}

div#items.yt-live-chat-item-list-renderer>ytd-sponsorships-live-chat-gift-purchase-announcement-renderer:not(:hover) div#primary-text {
    display: var(--single-line-chat-display-block) !important;
}

div#items.yt-live-chat-item-list-renderer>ytd-sponsorships-live-chat-gift-purchase-announcement-renderer:not(:hover) yt-img-shadow.rhs-image {
    height: var(--single-line-chat-height) !important;
    object-fit: var(--single-line-chat-object-fit) !important;
}

/* Engagement */
div#items.yt-live-chat-item-list-renderer>yt-live-chat-viewer-engagement-message-renderer:not(:hover) div#card {
    align-items: var(--single-line-chat-align-items) !important;
    padding-top: var(--single-line-chat-padding-top) !important;
    padding-bottom: var(--single-line-chat-padding-bottom) !important;
}

div#items.yt-live-chat-item-list-renderer>yt-live-chat-viewer-engagement-message-renderer:not(:hover) yt-formatted-string#message {
    display: var(--single-line-chat-display-inline) !important;
}